{% extends 'pilotos/base.html' %}
{% block js %}
    <script type="text/javascript">
    /**
 * Created by Anderson on 26/10/2014.
 */

alert('Teste');
$(document).ready(function(){
    var $pilotosForm = $('#pilotos-form');
    $pilotosForm.hide();
    $('#mostrar-form-btn').click(function(){
        $pilotosForm.slideToggle();

    });
    /**  variaveis input */
    var $nomeInput = $('#nomeInput');
    var $equipeInput = $('#equipeInput');
   /** var $pontos = $('#pontosInput');*/
    var $categoriaInput = $('#categoriaInput');
    /**var $texto = $('#textoInput');*/

     /**  variaveis div */
    var $nomeDiv = $('#nomeDiv');
    var $equipeDiv = $('#equipeDiv');
    /**var $pontosDiv = $('#pontosDiv');*/
    var $categoriaDiv = $('#categoriaDiv');
   /** var $textoDiv = $('#textoDiv');*/

     /**  variaveis help */
    var $helpNomeSpan = $('#help-nome');
    var $helpEquipeSpan = $('#help-equipe');
    /**var $helpPontosSpan = $('#help-pontos');*/
    var $helpCategoriaSpan = $('#help-categoria');
    /**var $helpTextoSpan = $('#help-texto');*/

    /**  variaveis outros */
    var $ajaxGif = $('#ajax-gif');
    var $salvarBtn = $('#salvar-btn');
    var $corpoTabela = $('#corpo-tabela');

    /** esconder gif*/
    $ajaxGif.hide();

    var adicionarLinha = function adicionarLinha(piloto){
         var linha = '<tr id="tr' + piloto.id + '"> <td>' + piloto.categoria + '</td>' +
            '<td>' + piloto.nome + '</td>' +
            '<td>' + piloto.equipe + '</td>' +
            '<td><button id="bt' + piloto.id + '" class="btn btn-danger btn-sm"><i class="glyphicon glyphicon-trash"></i></button>' +
            '</td> </tr>';
        $corpoTabela.prepend(linha);

        var $linhaHtml = $('#tr'+ piloto.id);

        $linhaHtml.hide();
        $linhaHtml.fadeIn();

        $('#bt'+ piloto.id).click(function () {
            $linhaHtml.fadeOut();
            $.post('/pilotos/rest/delete',{'piloto_id':piloto.id}).success(function(){
                $linhaHtml.remove();
            }).error(function(){
                alert('Remoção não funcionou');
                $linhaHtml.fadeIn();
            });
        });
    }

    $.get('/pilotos/rest').success(function (listaDePiloto) {
        for (var i = 0; i < listaDePiloto.length; i += 1) {
            adicionarLinha(listaDePiloto[i]);
        }

    });

    $salvarBtn.click(function () {
        var piloto = {

            nome: $nomeInput.val(),
            equipe: $equipeInput.val(),
            categoria: $categoriaInput.val(),

                   };

        $ajaxGif.slideDown();
        $salvarBtn.hide();
        var promessa = $.post('/pilotos/rest/save', piloto);
        promessa.success(function (piloto_do_servidor){
            adicionarLinha(piloto_do_servidor);
        });


        promessa.error(function (erros) {
            if (erros.responseJSON != null && erros.responseJSON.nome != null) {
                   $nomeDiv.addClass('has-error');
                   $helpNomeSpan.text(erros.responseJSON.nome);
                }
            if (erros.responseJSON != null && erros.responseJSON.equipe != null) {
                    $equipeDiv.addClass('has-error');
                    $helpEquipeSpan.text(erros.responseJSON.equipe);
                }

            if (erros.responseJSON != null && erros.responseJSON.categoria != null) {
                    $categoriaDiv.addClass('has-error');
                    $helpCategoriaSpan.text(erros.responseJSON.categoria);
                }



        });

        promessa.always(function () {
            $ajaxGif.slideUp();
            $salvarBtn.slideDown();
        });
    });

});




    </script>
    <script type=text/javascript" src="/static/pilotos.js" ></script>

{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{% trans %}This is a generic home for piloto_app {% endtrans %}</h1>
                <button id="mostrar-form-btn" class="btn btn-success">{% trans %}cadastrar
                    piloto {% endtrans %}</button>
                <hr/>
                <div id="pilotos-form" class="well">
                    <h1 class="text-center">Cadastrar Pilotos</h1>

                    <div role="form">
                        <input type="hidden" value="04dacef8c8ee6d7a4dc582034ad5db5e" name="_csrf_code">

                        <div id="nomeDiv" class="form-group">
                            <label for="nomeInput" class="control-label">Piloto</label>
                            <input id="nomeInput" type="text" class="form-control" name="nome" value="">
                            <span id="help-nome" class="help-block"></span>
                        </div>

                        <div id="equipeDiv" class="form-group">
                            <label for="equipeInput" class="control-label">Equipe</label>
                            <input id="equipeInput" type="text" class="form-control" name="equipe" value="">
                            <span id="help-equipe" class="help-block"></span>
                        </div>


                        <div id="categoriaDiv" class="form-group">
                            <label for="categoriaInput" class="control-label">Categoria</label>
                            <input id="categoriaInput" type="text" class="form-control" name="categoria" value="">
                            <span id="help-categoria" class="help-block"></span>
                        </div>

                        <button id="salvar-btn" class="btn btn-success">Salvar</button>
                        <img id="ajax-gif" src="/static/img/ajax.gif"/>

                    </div>

                </div>

                <h2>{% trans %}List of Pilotos{% endtrans %}</h2>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{% trans %}Categoria{% endtrans %}</th>
                        <th>{% trans %}Nome{% endtrans %}</th>
                        <th>{% trans %}Equipe{% endtrans %}</th>
                    </tr>
                    </thead>
                    <tbody id="corpo-tabela">
                    {% for piloto in pilotos %}
                        <tr>
                            <td>{{ piloto.loop }}</td>
                            <td>{{ piloto.categoria }}</td>
                            <td>{{ piloto.nome }}</td>
                            <td>{{ piloto.equipe }}</td>
                            <td>
                                <form action="{{ piloto.delete_path }}" method="post"
                                      onsubmit="return confirm('{{ _('Are you sure to delete? Press cancel to avoid deletion.') }}');">
                                    {{ csrf_input() }}
                                    <button class="btn btn-danger btn-sm"><i
                                            class="glyphicon glyphicon-trash"></i></button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}