{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css"/>
{% endblock %}
{% block body %}
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <h1><b>O melhor do Automobilismo mundial</b></h1>
                <p align="center"></p>
            </div>
        </div>
        <br/>

        <div class="row" >
            <div class="col-md-6">

                <div class="well" style = "background-color: #ffffff ">
                    <h2>{% trans %}<a href="/formula1s">Formula1<a/>
                        </a>{% endtrans %}
                    </h2>
                    <br/>
                    <img src="/static/img/gpbelgica.jpg" width="300">
                  <p align="left">
                        <font face="verdana" size ="4">Daniel Ricciardo vencedor do gp da Hungria vence novamente.</font>
                    </p>
                    <font face="verdana" size ="4"><p align="left">Hamilton e Rosberg em nova polemica  </p></font>

                    <br/>

                </div>
            </div>
            <div class="col-md-6">
                <div class="well" style = "background-color: #ffffff ">
                    <h2>{% trans %}<a href = "/nascars">Nascar Sprint Cup</a>{% endtrans %}</h2>
                    <br/>

                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="well" style = "background-color: #ffffff ">
                    <h2>{% trans %}
                        <a href="/indys">Indy</a>{% endtrans %}
                    </h2>
                    <br/>

                </div>
            </div>
            <div class="col-md-6">
                <div class="well" style = "background-color: #ffffff ">
                    <h2>{% trans %}<a href = "/dtms">DTM</a>{% endtrans %}</h2>
                    <br/>
                </div>
            </div>
        </div>
    </div>
{% endblock %}