{% extends 'base/base.html' %}
{% block css %}
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap-social.css"/>
    <link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css"/>
{% endblock %}

{% block body %}
    <div class="container text-center">
        <div class="row">
            <div class="col-md-12">
                <div class="carousel slide" id="carousel-349556">
				<ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-349556">
					</li>
					<li data-slide-to="1" data-target="#carousel-349556">
					</li>
					<li data-slide-to="2" data-target="#carousel-349556">
					</li>
                    <li data-slide-to="2" data-target="#carousel-349556">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item active">
						<img alt="" src="http://lorempixel.com/1600/500/sports/1">
						<div class="carousel-caption">
							<h4>
								First Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="http://lorempixel.com/1600/500/sports/2">
						<div class="carousel-caption">
							<h4>
								Second Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
					<div class="item">
						<img alt="" src="http://lorempixel.com/1600/500/sports/3">
						<div class="carousel-caption">
							<h4>
								Third Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
                    <div class="item">
						<img alt="" src="http://lorempixel.com/1600/500/sports/3">
						<div class="carousel-caption">
							<h4>
								Third Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-349556" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-349556" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>

                <h1><b>O melhor do Automobilismo mundial</b></h1>
                <p align="center"></p>
            </div>
        </div>
        <br/>

        <div class="row" >
            <div class="col-md-3">

                <div class="well" style = "background-color: #ffffff ">
                    <h2>{% trans %}<a href="/formula1s">Formula1<a/>
                        </a>{% endtrans %}
                    </h2>
                    <br/>
                    <img src="/static/img/gpbelgica.jpg" width="200">
                  <p align="left">
                        <font face="verdana" size ="4">Daniel Ricciardo vencedor do gp da Hungria vence novamente.</font>
                    </p>
                    <font face="verdana" size ="4"><p align="left">Hamilton e Rosberg em nova polemica  </p></font>

                    <br/>

                </div>
            </div>
            <div class="col-md-3">
                <div class="well" style = "background-color: #ffffff ">
                    <h2>{% trans %}<a href = "/nascars">Nascar Sprint Cup</a>{% endtrans %}</h2>
                    <br/>

                </div>
            </div>
            <div class="col-md-3">
                <div class="well" style = "background-color: #ffffff ">
                    <h2>{% trans %}
                        <a href="/indys">Indy</a>{% endtrans %}
                    </h2>
                    <br/>

                </div>
            </div>

            <div class="col-md-3">
                <div class="well" style = "background-color: #ffffff ">
                    <h2>{% trans %}<a href = "/dtms">DTM</a>{% endtrans %}</h2>
                    <br/>
                </div>
            </div>

        </div>


    </div>
{% endblock %}